USE [TTTHNNHCMUNRE]
GO
/****** Object:  Table [dbo].[CA]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACA] [varchar](50) NULL,
	[TENCA] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MACA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDANGKYHOC]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDANGKYHOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [varchar](50) NULL,
	[MAHV] [varchar](50) NULL,
	[ANHCK] [varchar](100) NULL,
	[NGAYDK] [datetime] NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDANGKYTHI]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDANGKYTHI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [varchar](50) NULL,
	[MAHV] [varchar](50) NULL,
	[ANHCK] [varchar](100) NULL,
	[NGAYDK] [datetime] NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETGIANGDAY]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETGIANGDAY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MALOP] [varchar](50) NULL,
	[MAGV] [varchar](50) NULL,
	[NGAYBD] [datetime] NULL,
	[NGAYKT] [datetime] NULL,
	[VAITRO] [nvarchar](100) NULL,
	[GHICHU] [nvarchar](250) NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKETQUA]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKETQUA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHV] [varchar](50) NULL,
	[MATHI] [varchar](50) NULL,
	[MAKQ] [varchar](50) NULL,
	[MAKH] [varchar](50) NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKHOAHOC]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKHOAHOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACA] [varchar](50) NULL,
	[MAKH] [varchar](50) NULL,
	[MAHV] [varchar](50) NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAGV] [varchar](50) NULL,
	[HOTEN] [nvarchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[CCCD] [varchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[PASS] [varchar](50) NULL,
	[GIOITINH] [int] NULL,
	[NOISINH] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[TRINHDO] [varchar](50) NULL,
	[ISFOREIGN] [int] NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHTHUC]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHTHUC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHT] [varchar](50) NULL,
	[TENHT] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAHT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCVIEN]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHV] [varchar](50) NULL,
	[HOTEN] [nvarchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[CCCD] [varchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[Pass] [varchar](50) NULL,
	[GIOITINH] [int] NULL,
	[NOISINH] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[LOP] [varchar](50) NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKQ] [varchar](50) NULL,
	[DIEMTH] [float] NULL,
	[DIEMLT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAKQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOAHOC]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOAHOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [varchar](50) NULL,
	[TENKH] [nvarchar](100) NULL,
	[GIA] [float] NULL,
	[TGBD] [datetime] NULL,
	[TGKT] [datetime] NULL,
	[MALOAI] [varchar](50) NULL,
	[MAHT] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MALOP] [varchar](50) NULL,
	[TENLOP] [nvarchar](100) NULL,
	[SOLUONG] [int] NULL,
	[SOPHONG] [varchar](50) NULL,
	[MAKH] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLTK]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLTK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TK] [varchar](50) NULL,
	[MK] [varchar](50) NULL,
	[VAITRO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MALOAI] [varchar](50) NULL,
	[TENLOAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THI]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATHI] [varchar](50) NULL,
	[PHONG] [nvarchar](100) NULL,
	[NGAYTHI] [datetime] NULL,
	[DIADIEM] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MATHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDANGKYHOC]  WITH CHECK ADD  CONSTRAINT [FK_CTDKH_MAHV] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[CHITIETDANGKYHOC] CHECK CONSTRAINT [FK_CTDKH_MAHV]
GO
ALTER TABLE [dbo].[CHITIETDANGKYHOC]  WITH CHECK ADD  CONSTRAINT [FK_CTDKH_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOAHOC] ([MAKH])
GO
ALTER TABLE [dbo].[CHITIETDANGKYHOC] CHECK CONSTRAINT [FK_CTDKH_MAKH]
GO
ALTER TABLE [dbo].[CHITIETDANGKYTHI]  WITH CHECK ADD  CONSTRAINT [FK_CTDKT_MAHV] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[CHITIETDANGKYTHI] CHECK CONSTRAINT [FK_CTDKT_MAHV]
GO
ALTER TABLE [dbo].[CHITIETDANGKYTHI]  WITH CHECK ADD  CONSTRAINT [FK_CTDKT_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOAHOC] ([MAKH])
GO
ALTER TABLE [dbo].[CHITIETDANGKYTHI] CHECK CONSTRAINT [FK_CTDKT_MAKH]
GO
ALTER TABLE [dbo].[CHITIETGIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_CTGD_MAGV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[CHITIETGIANGDAY] CHECK CONSTRAINT [FK_CTGD_MAGV]
GO
ALTER TABLE [dbo].[CHITIETGIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_CTGD_MALOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[CHITIETGIANGDAY] CHECK CONSTRAINT [FK_CTGD_MALOP]
GO
ALTER TABLE [dbo].[CHITIETKETQUA]  WITH CHECK ADD  CONSTRAINT [FK_CTKQ_MAHV] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[CHITIETKETQUA] CHECK CONSTRAINT [FK_CTKQ_MAHV]
GO
ALTER TABLE [dbo].[CHITIETKETQUA]  WITH CHECK ADD  CONSTRAINT [FK_CTKQ_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOAHOC] ([MAKH])
GO
ALTER TABLE [dbo].[CHITIETKETQUA] CHECK CONSTRAINT [FK_CTKQ_MAKH]
GO
ALTER TABLE [dbo].[CHITIETKETQUA]  WITH CHECK ADD  CONSTRAINT [FK_CTKQ_MAKQ] FOREIGN KEY([MAKQ])
REFERENCES [dbo].[KETQUA] ([MAKQ])
GO
ALTER TABLE [dbo].[CHITIETKETQUA] CHECK CONSTRAINT [FK_CTKQ_MAKQ]
GO
ALTER TABLE [dbo].[CHITIETKETQUA]  WITH CHECK ADD  CONSTRAINT [FK_CTKQ_MATHI] FOREIGN KEY([MATHI])
REFERENCES [dbo].[THI] ([MATHI])
GO
ALTER TABLE [dbo].[CHITIETKETQUA] CHECK CONSTRAINT [FK_CTKQ_MATHI]
GO
ALTER TABLE [dbo].[CHITIETKHOAHOC]  WITH CHECK ADD  CONSTRAINT [FK_CTKH_MACA] FOREIGN KEY([MACA])
REFERENCES [dbo].[CA] ([MACA])
GO
ALTER TABLE [dbo].[CHITIETKHOAHOC] CHECK CONSTRAINT [FK_CTKH_MACA]
GO
ALTER TABLE [dbo].[CHITIETKHOAHOC]  WITH CHECK ADD  CONSTRAINT [FK_CTKH_MAHV] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[CHITIETKHOAHOC] CHECK CONSTRAINT [FK_CTKH_MAHV]
GO
ALTER TABLE [dbo].[CHITIETKHOAHOC]  WITH CHECK ADD  CONSTRAINT [FK_CTKH_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOAHOC] ([MAKH])
GO
ALTER TABLE [dbo].[CHITIETKHOAHOC] CHECK CONSTRAINT [FK_CTKH_MAKH]
GO
ALTER TABLE [dbo].[KHOAHOC]  WITH CHECK ADD  CONSTRAINT [FK_KH_MAHT] FOREIGN KEY([MAHT])
REFERENCES [dbo].[HINHTHUC] ([MAHT])
GO
ALTER TABLE [dbo].[KHOAHOC] CHECK CONSTRAINT [FK_KH_MAHT]
GO
ALTER TABLE [dbo].[KHOAHOC]  WITH CHECK ADD  CONSTRAINT [FK_KH_MALOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[THELOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[KHOAHOC] CHECK CONSTRAINT [FK_KH_MALOAI]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [fl_lop_kh] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOAHOC] ([MAKH])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [fl_lop_kh]
GO
/****** Object:  StoredProcedure [dbo].[AllCa]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DECLARE @MA INT =2, @ML VARCHAR(50) = 'TH', @TL NVARCHAR(100) = N'TIN HỌC'
		
--EXEC UpdateTheLoai @Ma, @ML, @TL



-----------Ca
--ALL
CREATE PROC [dbo].[AllCa]
AS
BEGIN
	select * from Ca
END
GO
/****** Object:  StoredProcedure [dbo].[AllChiTietDangKyHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AllChiTietDangKyHoc]
AS
BEGIN
	select * FROM chitietdangkyhoc ct join khoahoc kh on kh.makh=ct.makh join hocvien hv on hv.mahv = ct.mahv
	
END
GO
/****** Object:  StoredProcedure [dbo].[AllChiTietDangKyThi]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AllChiTietDangKyThi]
AS
BEGIN
	select * FROM CHITIETDANGKYTHI ct join khoahoc kh on kh.makh=ct.makh join hocvien hv on hv.mahv = ct.mahv
	
END
GO
/****** Object:  StoredProcedure [dbo].[AllGiangVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-----------Giang Viên
--ALL
CREATE PROC [dbo].[AllGiangVien]
AS
BEGIN
	select * from GiangVien where status=1
	
END
GO
/****** Object:  StoredProcedure [dbo].[AllHinhThuc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-----------HinhThuc
--ALL
CREATE PROC [dbo].[AllHinhThuc]
AS
BEGIN
	select * from HINHTHUC
END
GO
/****** Object:  StoredProcedure [dbo].[AllHocVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-----------Học Viên
--ALL
CREATE PROC [dbo].[AllHocVien]
AS
BEGIN
	select * from hocvien where status=1
	
END
GO
/****** Object:  StoredProcedure [dbo].[AllKhoaHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AllKhoaHoc]
AS
BEGIN
	select kh.id id, ht.maht maht, tenht, kh.maloai maloai, kh.makh as makh, tenkh,gia, tenloai, TGBD, TGKT from Khoahoc kh join theloai l on kh.maloai=l.maloai join hinhthuc ht on ht.maht=kh.maht;
	
END
GO
/****** Object:  StoredProcedure [dbo].[AllKhoaHocGoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[AllKhoaHocGoc]
AS
BEGIN
	select * from Khoahoc 
	
END
GO
/****** Object:  StoredProcedure [dbo].[AllLopHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--



--select * from Khoahoc kh join theloai l on kh.id=l.id join hinhthuc ht on ht.id=kh.id;
--ONE
--CREATE PROC OneKhoaHoc
--@id int
--AS
--BEGIN
--	select * from KhoaHoc WHERE ID = @id
--END
--go

--INSERT
--CREATE PROC InsertKhoaHoc
--@makh varchar(50), @tenkh nvarchar(100), @gia float, @tgbd datetime, @tgkt datetime, @maloai int, @maht int
--AS
--BEGIN
--	insert into KHOAHOC(MaKH, TenKH, Gia, TGBD, TGKT, MALOAI, MAHT) 
--	values(@makh, @tenkh, @gia, @tgbd, @tgkt, @maloai, @maht)
--END

--vd
--DECLARE @makh varchar(50) ='KH01', @tenkh nvarchar(100)=N'Ứng dụng CNTT Cơ Bản', @gia float='1000000', @tgbd datetime ='2022/10/20', @tgkt datetime='2022/12/20', @maloai int = 2, @maht int =1
--EXEC InsertKhoaHoc @makh, @tenkh, @gia, @tgbd, @tgkt, @maloai, @maht



--CREATE PROC DeleteKhoaHoc
--@id int
--AS
--BEGIN
--	DELETE from KhoaHoc WHERE ID = @id
--END
--go

----UPDATE
--CREATE PROC UpdateKhoaHoc
--@id int, @makh varchar(50), @tenkh nvarchar(100), @gia float, @tgbd datetime, @tgkt datetime, @maloai varchar(50), @maht varchar(50)
--AS
--BEGIN
--	 UPDATE KhoaHoc SET MaKH = @makh, TenKH = @tenkh, Gia = @gia, TGBD = @tgbd, TGKT = @tgkt, MALOAI= @maloai, MAHT = @maht WHERE ID = @id
--END
--go


-----------Lớp Học
--ALL
CREATE PROC [dbo].[AllLopHoc]
AS
BEGIN
	select * from lop
	
END
GO
/****** Object:  StoredProcedure [dbo].[AllTaiKhoan]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Tài Khoản
CREATE PROC [dbo].[AllTaiKhoan]
AS
BEGIN
	select * from QLTK
END
GO
/****** Object:  StoredProcedure [dbo].[AllTheLoai]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DECLARE @id int =2, @tk varchar(50) = 'quanly', @mk nvarchar(50) ='quanly', @vaitro varchar(50) ='quanly'
		
--EXEC UpdateTaiKhoan @id, @tk, @mk, @vaitro



--TheLoai
CREATE PROC [dbo].[AllTheLoai]
AS
BEGIN
	select * from THELOAI
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteCa]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[DeleteCa]
@id int
AS
BEGIN
	DELETE from Ca WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteChiTietDangKyHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--vd
--DECLARE @makh varchar(50)='', @mahv varchar(50)='', @anhck varchar(100) = 'anhck.jpg', @ngaydk datetime =getdate()
--EXEC InsertChiTietDangKyHoc @makh, @mahv, @anhck, @ngaydk



CREATE PROC [dbo].[DeleteChiTietDangKyHoc]
@id int
AS
BEGIN
	DELETE from ChiTietDangKyHoc WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteGiangVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[DeleteGiangVien]
@id int
AS
BEGIN
	UPDATE giangvien SET status= 0 WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteHinhThuc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[DeleteHinhThuc]
@id int
AS
BEGIN
	DELETE from HINHTHUC WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteHocVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[DeleteHocVien]
@id int
AS
BEGIN
	UPDATE hocvien SET status= 0 WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteKhoaHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--vd
--DECLARE @makh varchar(50) ='KH01', @tenkh nvarchar(100)=N'Ứng dụng CNTT Cơ Bản', @gia float='1000000', @tgbd datetime ='2022/10/20', @tgkt datetime='2022/12/20', @maloai int = 2, @maht int =1
--EXEC InsertKhoaHoc @makh, @tenkh, @gia, @tgbd, @tgkt, @maloai, @maht



CREATE PROC [dbo].[DeleteKhoaHoc]
@id int
AS
BEGIN
	DELETE from KhoaHoc WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteLopHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[DeleteLopHoc]
@id int
AS
BEGIN
	DELETE from lop WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteTaiKhoan]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DELETE 
CREATE PROC [dbo].[DeleteTaiKhoan]
@id int
AS
BEGIN
	DELETE from QLTK WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteTheLoai]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DELETE 
CREATE PROC [dbo].[DeleteTheLoai]
@id int
AS
BEGIN
	DELETE from THELOAI WHERE ID = @id
END

GO
/****** Object:  StoredProcedure [dbo].[InsertCa]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--INSERT
CREATE PROC [dbo].[InsertCa]
@maca varchar(50), @tenca nvarchar(100)
AS
BEGIN
	insert into Ca(MaCa, TenCa) 
	values(@maca, @tenca)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertChiTietDangKyHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--INSERT
CREATE PROC [dbo].[InsertChiTietDangKyHoc]
@makh varchar(50), @mahv varchar(50), @anhck varchar(100), @ngaydk datetime
AS
BEGIN
	insert into ChiTietDangKyHoc(MaKH, MaHV, AnhCK, NgayDK, STATUS) 
	values(@makh, @mahv, @anhck, @ngaydk, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertChiTietDangKyThi]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertChiTietDangKyThi]
@makh varchar(50), @mahv varchar(50), @anhck varchar(100), @ngaydk datetime
AS
BEGIN
	insert into CHITIETDANGKYTHI(MaKH, MaHV, AnhCK, NgayDK, STATUS) 
	values(@makh, @mahv, @anhck, @ngaydk, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertGiangVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT
CREATE PROC [dbo].[InsertGiangVien]
@magv varchar(50), @hoten nvarchar(100), @email varchar(100), @cccd varchar(50), @sdt varchar(50), @gioitinh varchar(50), @noisinh nvarchar(100),
@ngaysinh datetime, @trinhdo varchar(50), @isforeign int
AS
BEGIN
	insert into giangvien(magv, hoten, email, cccd, sdt, pass, gioitinh, noisinh, ngaysinh, trinhdo, isforeign, status) 
	values(@magv, @hoten, @email, @cccd , @sdt,'hcmunre', @gioitinh, @noisinh, @ngaysinh, @trinhdo, @isforeign, 1 )
END
GO
/****** Object:  StoredProcedure [dbo].[InsertHinhThuc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--INSERT
CREATE PROC [dbo].[InsertHinhThuc]
@maht varchar(50), @tenht nvarchar(100)
AS
BEGIN
	insert into HINHTHUC(MaHT, TenHT) 
	values(@maht, @tenht)
END

--vd
DECLARE @ma varchar(50) = 'OFF', @ten nvarchar(100) =N'OFFLINE'
EXEC InsertHinhThuc @ma, @ten
GO
/****** Object:  StoredProcedure [dbo].[InsertHocVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT
CREATE PROC [dbo].[InsertHocVien]
@mahv varchar(50), @hoten nvarchar(100), @email varchar(100), @cccd varchar(50), @sdt varchar(50), @gioitinh varchar(50), @noisinh nvarchar(100),
@ngaysinh datetime, @lop varchar(50)
AS
BEGIN
	insert into hocvien(mahv, hoten, email, cccd, sdt, pass, gioitinh, noisinh, ngaysinh, lop, status) 
	values(@mahv, @hoten, @email, @cccd , @sdt,'tnmt12345', @gioitinh, @noisinh, @ngaysinh, @lop,1 )
END
GO
/****** Object:  StoredProcedure [dbo].[InsertKhoaHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT
CREATE PROC [dbo].[InsertKhoaHoc]
@makh varchar(50), @tenkh nvarchar(100), @gia float, @tgbd datetime, @tgkt datetime, @maloai varchar(50), @maht varchar(50)
AS
BEGIN
	insert into KHOAHOC(MaKH, TenKH, Gia, TGBD, TGKT, MALOAI, MAHT) 
	values(@makh, @tenkh, @gia, @tgbd, @tgkt, @maloai, @maht)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertLopHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT
CREATE PROC [dbo].[InsertLopHoc]
@malop varchar(50), @tenlop nvarchar(100), @soluong int, @sophong varchar(50), @makh varchar(50)
AS
BEGIN
	insert into lop(malop, tenlop, soluong, sophong, makh) 
	values(@malop, @tenlop, @soluong, @sophong, @makh)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertTaiKhoan]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--INSERT
CREATE PROC [dbo].[InsertTaiKhoan]
@tk varchar(50), @mk nvarchar(50), @vaitro nvarchar(50)
AS
BEGIN
	insert into QLTK(TK, MK, VaiTro) 
	values(@tk, @mk, @vaitro)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertTheLoai]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--INSERT
CREATE PROC [dbo].[InsertTheLoai]
@maloai varchar(50), @tenloai nvarchar(100)
AS
BEGIN
	insert into TheLoai(MaLoai, TenLoai) 
	values(@maloai, @tenloai)
END
GO
/****** Object:  StoredProcedure [dbo].[OneCa]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ONE
CREATE PROC [dbo].[OneCa]
@maca int
AS
BEGIN
	select * from Ca WHERE ID = @maca
END

GO
/****** Object:  StoredProcedure [dbo].[OneChiTietDangKyHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ONE
CREATE PROC [dbo].[OneChiTietDangKyHoc]
@id int
AS
BEGIN
	select * from ChiTietDangKyHoc WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[OneChiTietDangKyHocFull]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[OneChiTietDangKyHocFull]
@id int
AS
BEGIN
	select * FROM chitietdangkyhoc ct join khoahoc kh on kh.makh=ct.makh join hocvien hv on hv.mahv = ct.mahv
END
GO
/****** Object:  StoredProcedure [dbo].[OneChiTietDangKyThiFull]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[OneChiTietDangKyThiFull]
@id int
AS
BEGIN
	select * FROM CHITIETDANGKYTHI ct join khoahoc kh on kh.makh=ct.makh join hocvien hv on hv.mahv = ct.mahv
END
GO
/****** Object:  StoredProcedure [dbo].[OneGiangVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[OneGiangVien]
@id int
AS
BEGIN
	select * from GiangVien where ID=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[OneHinhThuc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ONE
CREATE PROC [dbo].[OneHinhThuc]
@maht int
AS
BEGIN
	select * from HINHTHUC WHERE ID = @maht
END
GO
/****** Object:  StoredProcedure [dbo].[OneHocVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[OneHocVien]
@id int
AS
BEGIN
	select * from hocvien where ID=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[OneKhoaHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from Khoahoc kh join theloai l on kh.id=l.id join hinhthuc ht on ht.id=kh.id;
--ONE
CREATE PROC [dbo].[OneKhoaHoc]
@id int
AS
BEGIN
	select * from KhoaHoc WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[OneKhoaHocCT]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[OneKhoaHocCT]
@id int
AS
BEGIN
	select kh.id id, ht.maht maht, tenht, kh.maloai maloai, kh.makh as makh, tenkh,gia, tenloai, TGBD, TGKT from Khoahoc kh join theloai l on kh.maloai=l.id join hinhthuc ht on ht.id=kh.maht where kh.ID=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[OneLopHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[OneLopHoc]
@id int
AS
BEGIN
	select * from lop where ID=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[OneTaiKhoan]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--ONE
CREATE PROC [dbo].[OneTaiKhoan]
@id int
AS
BEGIN
	select * from QLTK WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[OneTaiKhoanDN]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[OneTaiKhoanDN]
@tk varchar(50), @mk varchar(50)
AS
BEGIN
	declare  @count int
	select @count= count(*) from QLTK WHERE TK = @tk AND MK = @mk
	if(@count > 1)
		return 1
	else
		return 0
END
GO
/****** Object:  StoredProcedure [dbo].[OneTaiKhoanLogIn]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[OneTaiKhoanLogIn]
@tk varchar(50), @mk varchar(50)
AS
BEGIN
	select * from QLTK WHERE TK = @tk AND MK = @mk
END
GO
/****** Object:  StoredProcedure [dbo].[OneTaiKhoanPersonal]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[OneTaiKhoanPersonal]
@tk varchar(50)
AS
BEGIN
	select * from QLTK WHERE TK = @tk
END
GO
/****** Object:  StoredProcedure [dbo].[OneTheLoai]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--ONE
CREATE PROC [dbo].[OneTheLoai]
@matl int
AS
BEGIN
	select * from THELOAI WHERE ID = @matl
END
GO
/****** Object:  StoredProcedure [dbo].[SearchCa]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchCa]
@Search nvarchar(50)
AS
BEGIN

	select * from Ca WHERE MaCa LIKE '%' + @Search + '%'OR TenCa LIKE '%' + @Search + '%'  
END
GO
/****** Object:  StoredProcedure [dbo].[SearchChiTietDangKyHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchChiTietDangKyHoc]
@Search nvarchar(50)
AS
BEGIN

	select * from ChiTietDangKyHoc WHERE MaKH LIKE '%' + @Search + '%'
	OR NgayDK LIKE '%' + @Search + '%'  OR MaHV LIKE '%' + @Search +'%'  
END
GO
/****** Object:  StoredProcedure [dbo].[SearchChiTietDangKyHocFULL]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SearchChiTietDangKyHocFULL]
@Search nvarchar(50)
AS
BEGIN
	
	select * from chitietdangkyhoc ct join khoahoc kh on kh.makh=ct.makh join hocvien hv on hv.mahv = ct.mahv 
	WHERE KH.TenKH LIKE '%' + @Search + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[SearchChiTietDangKyThi]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SearchChiTietDangKyThi]
@Search nvarchar(50)
AS
BEGIN

	select * from CHITIETDANGKYTHI WHERE MaKH LIKE '%' + @Search + '%'
	OR NgayDK LIKE '%' + @Search + '%'  OR MaHV LIKE '%' + @Search +'%'  
END
GO
/****** Object:  StoredProcedure [dbo].[SearchGiangVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchGiangVien]
@Search nvarchar(50)
AS
BEGIN

	select * from GiangVien WHERE HoTen LIKE '%' + @Search + '%'OR MaGV LIKE '%' + @Search + '%'  OR SDT LIKE '%' + @Search +'%'  OR Email LIKE '%' + @Search +'%'  OR CCCD LIKE '%' + @Search +'%'   OR NoiSinh LIKE '%' + @Search +'%' 
	  OR TrinhDo LIKE '%' + @Search +'%'
END
GO
/****** Object:  StoredProcedure [dbo].[SearchHocVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SearchHocVien]
@Search nvarchar(50)
AS
BEGIN

	select * from HocVien WHERE HoTen LIKE '%' + @Search + '%'OR MaHV LIKE '%' + @Search + '%'  
	OR SDT LIKE '%' + @Search +'%'  OR Email LIKE '%' + @Search +'%'  
	OR CCCD LIKE '%' + @Search +'%'   OR NoiSinh LIKE '%' + @Search +'%' 
	  
END
GO
/****** Object:  StoredProcedure [dbo].[SearchKhoaHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchKhoaHoc]
@Search nvarchar(50)
AS
BEGIN
	
	select * from KhoaHoc WHERE MaKH LIKE '%' + @Search + '%'OR TenKH LIKE '%' + @Search + '%'  OR Gia LIKE '%' + @Search +'%'  OR TGBD LIKE '%' + @Search +'%' 
	OR TGKT LIKE '%' + @Search +'%'   OR MaLoai LIKE '%' + @Search +'%' 
	  OR MaHT LIKE '%' + @Search +'%'
END
GO
/****** Object:  StoredProcedure [dbo].[SearchLopHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchLopHoc]
@Search nvarchar(50)
AS
BEGIN
	select * from Lop WHERE MaLop LIKE '%' + @Search + '%'OR TenLop LIKE '%' + @Search + '%' 
	OR SoPhong LIKE '%' + @Search +'%' OR SoLuong LIKE '%' + @Search +'%' 
END
GO
/****** Object:  StoredProcedure [dbo].[SearchTaiKhoan]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SearchTaiKhoan]
@SearchTK varchar(50)
AS
BEGIN

	select * from QLTK WHERE TK LIKE '%' + @SearchTK + '%'OR MK LIKE '%' + @SearchTK + '%'  OR VAITRO LIKE '%' + @SearchTK +'%' 
END
GO
/****** Object:  StoredProcedure [dbo].[SearchTheLoai]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchTheLoai]
@Search nvarchar(50)
AS
BEGIN

	select * from THELOAI WHERE MaLoai LIKE '%' + @Search + '%'OR TenLoai LIKE '%' + @Search + '%'  
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCa]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--UPDATE
CREATE PROC [dbo].[UpdateCa]
@id int, @maca varchar(50), @tenca nvarchar(100)
AS
BEGIN
	 UPDATE Ca SET MaCa=@maca, TenCa=@tenca WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateChiTietDangKyHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--UPDATE
CREATE PROC [dbo].[UpdateChiTietDangKyHoc]
@id int, @makh varchar(50), @mahv varchar(50), @anhck varchar(100), @ngaydk datetime
AS
BEGIN
	 UPDATE ChiTietDangKyHoc SET MaKH = @makh, MaHV = @mahv, AnhCK = @anhck, NgayDK = @ngaydk  WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateGiangVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--UPDATE
CREATE PROC [dbo].[UpdateGiangVien]
@id int,@magv varchar(50), @hoten nvarchar(100), @email varchar(100), @cccd varchar(50), @sdt varchar(50), @gioitinh varchar(50), @noisinh nvarchar(100),
@ngaysinh datetime, @trinhdo varchar(50), @isforeign int
AS
BEGIN
	 UPDATE giangvien SET magv = @magv, hoten = @hoten, email = @email, cccd = @cccd, sdt = @sdt , gioitinh= @gioitinh,
	 noisinh= @noisinh, ngaysinh= @ngaysinh, trinhdo = @trinhdo, isforeign = @isforeign WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateHinhThuc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--UPDATE
CREATE PROC [dbo].[UpdateHinhThuc]
@id int, @maht varchar(50), @tenht nvarchar(100)
AS
BEGIN
	 UPDATE HINHTHUC SET MaHT=@maht, TenHT=@tenht WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateHocVien]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--UPDATE
CREATE PROC [dbo].[UpdateHocVien]
@id int, @mahv varchar(50), @hoten nvarchar(100), @email varchar(100), @cccd varchar(50), @sdt varchar(50), @gioitinh varchar(50), @noisinh nvarchar(100),
@ngaysinh datetime, @lop varchar(50)
AS
BEGIN
	 UPDATE hocvien SET mahv = @mahv, hoten = @hoten, email = @email, cccd = @cccd, sdt = @sdt , gioitinh= @gioitinh,
	 noisinh= @noisinh, ngaysinh= @ngaysinh, lop = @lop WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateKhoaHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--UPDATE
CREATE PROC [dbo].[UpdateKhoaHoc]
@id int, @makh varchar(50), @tenkh nvarchar(100), @gia float, @tgbd datetime, @tgkt datetime, @maloai varchar(50), @maht varchar(50)
AS
BEGIN
	 UPDATE KhoaHoc SET MaKH = @makh, TenKH = @tenkh, Gia = @gia, TGBD = @tgbd, TGKT = @tgkt, MALOAI= @maloai, MAHT = @maht WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateLopHoc]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateLopHoc]
@id int, @malop varchar(50), @tenlop nvarchar(100), @soluong int, @sophong varchar(50), @makh varchar(50)
AS
BEGIN
	 UPDATE lop SET malop = @malop, tenlop = @tenlop, soluong = @soluong, sophong = @sophong, makh=@makh WHERE ID = @id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateTaiKhoan]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--UPDATE
CREATE PROC [dbo].[UpdateTaiKhoan]
@id int, @tk varchar(50), @mk nvarchar(50), @vaitro nvarchar(50)
AS
BEGIN
	 UPDATE QLTK SET TK=@tk, MK=@mk, VaiTro=@vaitro WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateTheLoai]    Script Date: 11/14/2022 3:29:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--UPDATE
CREATE PROC [dbo].[UpdateTheLoai]
@id int, @maloai varchar(50), @tenloai nvarchar(100)
AS
BEGIN
	 UPDATE THELOAI SET MaLoai=@maloai, TenLoai=@tenloai WHERE ID = @id
END
GO
