
@{
    ViewBag.Title = "HuongDan";
    Layout = "~/Views/Shared/_Layout_Header.cshtml";
}


@{
    ViewBag.Title = "Index";

}


    

    <div class="container bg-white mt-3 card  mb-3 p-3 text-justify">
        <div class="border border-light">
            <h3 class="text-center">#1 ĐĂNG KÝ HỌC</h3>
            <bold>
                Để sử dụng tính năng này bạn vui lòng chuyển khoản trước cho Trung tâm và lưu lại biên lại hoặc
                chụp màn hình giao dịch thành công (file ảnh và dung lượng &lt 3MB).
            </bold> Trong quá trình đăng ký
            học, hệ thống sẽ yêu cầu bạn đính kèm file ảnh chụp giao dịch này vào
            <div class="p-3">
                1. Điền các thông tin cá nhân của bản thân (xem hình)<br>
                <div class="p-2">
                    <img src="../imgs/dkhhcmunre.png" alt="" style="max-width: 100%">
                </div>
                <div class="p-2">
                    <img src="../imgs/dkh.png" alt="" style="max-width: 100%">
                </div>
                2. Đính kèm hình chụp hóa đơn hoặc màn hình chuyển khoản thành công. Sau đó bấm vào nút Đăng ký (xem
                hình)
                <div class="p-2">
                    <img src="../imgs/anhcktc.png" alt="" style="max-width: 100%">
                </div>
                <div class="p-2">
                    <img src="../imgs/dkt.png" alt="" style="max-width: 100%">
                </div>
                3. Đăng ký thành công hệ thống sẽ xuất hiện thông báo. Để xem lại thông tin đã đăng ký, vui lòng tra cứu bằng nút tìm kiếm (xem hình)
                <div class="p-2">
                    <img src="../imgs/dkhtc.png" alt="" style="max-width: 100%">
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-white mt-3 card  mb-3 p-3 text-justify">

        <h3 class="text-center">#2 TRA CỨU TÌNH TRẠNG ĐĂNG KÝ</h3>
        <div class="p-2">
            Trên giao diện website luôn có 1 ô tìm kiếm để nhập ID đăng ký
            Màn hình tra cứu <span class="text-primary">ID đăng ký</span> thành công để xem lại thông tin đã
            đăng ký học (xem hình)
            <div class="p-2">
                <img src="../imgs/search.png" alt="" style="max-width: 100%">
            </div>
            <div class="p-2">
                <img src="../imgs/trangthaidkh.png" alt="" style="max-width: 100%">
            </div>
        </div>
    </div>

    <div class="container bg-white mt-3 card  mb-3 p-3 text-justify">

        <h3 class="text-center">#3 THANH TOÁN HỌC PHÍ</h3>
        <div class="p-2">
            1. Thanh toán trực tiếp tại Phòng ghi danh của Trung Tâm Tin học - Ngoại ngữ<br>
            <div class="p-3">
                Vui lòng liên hệ vào giờ hành chính, trừ thứ bảy, chủ nhật và các ngày lễ tết.
            </div>
            <h3>Tại trường Đại học Tài nguyên và Môi trường</h3>
            <div class="ml-3">
                <h4 class=""><i class="far fa-building pr-2 text-info"></i>Phòng tài chính</h4>
                <div class="ml-2">
                    236B, Lê Văn Sỹ, Quận Tân Bình<br>
                    Email:truongdaihoctainguyenvamoitruong@gmail.com
                </div><br>
                <h4 class=""><i class="fas fa-phone-alt pr-2 text-info"></i>Điện thoại</h4>
                <div class="ml-2">
                    0384319201 (cơ sở Quận Tân Bình)
                </div>
            </div>

        </div>
        2. Chuyển khoản ngân hàng<br>
        <div class="ml-2">
            Bạn có thể đến bất kỳ ngân hàng nào ở Việt Nam (hoặc sử dụng Internet Banking) để chuyển học phí
            theo thông tin như sau:<br><br>
            Tài khoản thụ hưởng: Trung tâm Tin học - Ngoại ngữ Đại học Tài nguyên và Môi trường Tp.HCM<br>
            Số tài khoản: 0261003491765<br>
            Ngân hàng: TK VCB - Chi nhánh Thủ Thiêm<br>
            Nội dung: MSSV/CCCD/CMND, Họ và Tên, Khóa Học, Thời Gian<br><br>
            VD: Nguyễn Văn Hiền, MSSV: 850080018, học TOEIC 850-990, từ 05/10/2022 - 05/12/2022<br>
            <span class="text-danger">Cú Pháp: 850080018 NGUYEN VAN HIEN, TOEIC 850-990, 05/10 - 12/12/2022</span>
            <br>

            <span class="text-danger">Lưu ý:</span><br>
            <div class="p-3">

                Bạn phải viết chính xác 100% tên tài khoản và số tài khoản để đảm bảo học phí được chuyển khoản
                đến
                đúng nơi.<br>

                Trong khi chuyển khoản, trong phần nội dung, bạn vui lòng điền đầy đủ thông tin: Họ tên học viên
                (có
                thể khác với họ tên người chuyển khoản) Số điện thoại liên hệ - Mã số sinh viên (số CMND hoặc số
                CCCD) vào phiếu chuyển tiền.<br>
                Do có rất nhiều giao dịch chuyển khoản, nên bạn nhớ giữ lại thông tin chuyển khoản, chụp màn
                hình
                hoặc phiếu biên nhận giao dịch thành công, sau đó bạn có thể dùng hình chụp này để ghi danh học
                online hoặc gửi email về <span class="text-info">truongdaihoctainguyenvamoitruong@gmail.com</span> để Bộ phận Ghi danh
                chúng tôi tiện đối chiếu và
                xuất
                biên lai cho bạn.<br>
                Trung Tâm luôn kiểm tra các giao dịch chuyển khoản mỗi ngày (từ Thứ 2 đến Thứ 6) và sẽ liên hệ
                với
                bạn ngay khi nhận được chuyển khoản của bạn (tối đa khoảng 3 ngày).
            </div>
        </div>

    </div>






